{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1 class="text-center fw-bold m-4 text-primary text-uppercase">Create new Book</h1>
    {{ include('book/_form.html.twig') }}
    <div class="text-center">

        <a type="button" class="btn btn-primary col-3 fw-bold " href="{{ path('app_book_index') }}">back to list</a>
    </div>
   
{% endblock %}
